.idea
/node_modules
/public/nginx.htaccess
/public/css
/public/storage
/public/js
/storage
vendor
.env.example
.editorconfig
.env

.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
